<h1>MemberShipFees</h1>

<div class="input-group mb-3">
    <button class="btn btn-outline-secondary" type="button" id="button-addon1">Modify</button>
    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>
  
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Member's Username" aria-label="Members's username" aria-describedby="button-addon2">
    <button class="btn btn-danger" type="button" id="button-addon2">Delete Member</button>
  </div>
  
  <div class="input-group mb-3">
    <button class="btn btn-info" type="button">Register New Member</button>
    <button class="btn btn-info" type="button">Update Info</button>
    <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons">
  </div>
  
  <div class="input-group">
    
    <input type="text" class="form-control" placeholder="Members's username" aria-label="Members's username with two button addons">
    <button class="btn btn-outline-secondary" type="button">Button</button>
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
 
  <router-outlet></router-outlet>
