<div *ngIf="member">

    <h2>{{member.name | uppercase}} Details</h2>
    <div><span>id: </span>{{member.id}}</div>
    <div>
      <label for="member-name">Member name: </label>
      <input id="member-name" [(ngModel)]="member.name" placeholder="name">

      <label for="member-surname">Member surname: </label>
      <input id="member-surname" [(ngModel)]="member.surname" placeholder="surname">

      <label for="member-age">Member age: </label>
      <input id="member-age" [(ngModel)]="member.age" placeholder="age">

      <label for="member-phone">Member phone: </label>
      <input id="member-phone" [(ngModel)]="member.phone" placeholder="phone">

      <label for="member-email">Member email: </label>
      <input id="member-email" [(ngModel)]="member.email" placeholder="email">

      <label for="member-gender">Member gender: </label>
      <input id="member-gender" [(ngModel)]="member.gender" placeholder="gender">

      <label for="member-language">Member language: </label>
      <input id="member-language" [(ngModel)]="member.language" placeholder="language">

      <label for="member-occupation">Member occupation: </label>
      <input id="member-occupation" [(ngModel)]="member.occupation" placeholder="occupation">

      <label for="member-company">Member company: </label>
      <input id="member-company" [(ngModel)]="member.company" placeholder="company">

      <label for="member-username">Member username: </label>
      <input id="member-username" [(ngModel)]="member.username" placeholder="username">

      <label for="member-password">Member password: </label>
      <input id="member-password" [(ngModel)]="member.password" placeholder="password">
      


























    </div>
  </div>

