<!-- <p>member-detail works!</p>
<h1 style="text-align: center;">All users</h1>
<div *ngIf="dataSource">
   //   <mat-table [dataSource]="dataSource.items"> //
        <mat-table>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>

        <ng-container matColumnDef="id">
            <mat-header-cell  *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell  *matCellDef="let row"> {{row.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell  *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="surname">
            <mat-header-cell  *matHeaderCellDef> Surname </mat-header-cell>
            <mat-cell  *matCellDef="let row"> {{row.surname}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="age">
            <mat-header-cell  *matHeaderCellDef> Age </mat-header-cell>
            <mat-cell  *matCellDef="let row"> {{row.age}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell  *matHeaderCellDef> Phone </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell  *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.emai}} </mat-cell>
          </ng-container>
    </mat-table>
</div> -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th>User id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age </th>
            <th>Phone </th>
            <th>Email </th>
            <th>Gender </th>
            <th>Language </th>
            <th>Occupation </th>
            <th>Company </th>
            <th>Username </th>
            <th>Password </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let member of members">
            <td>{{member.id.id}}</td>
            <td>{{member.member.name}}</td>
            <td>{{member.member.surname}}</td>
            <td>{{member.member.age}}</td>
            <td>{{member.member.phone}}</td>
            <td>{{member.member.email}}</td>
            <td>{{member.member.gender}}</td>
            <td>{{member.member.language}}</td>
            <td>{{member.member.occupation}}</td>
            <td>{{member.member.company}}</td>
            <td>{{member.member.username}}</td>
            <td>{{member.member.password}}</td>
        </tr>
    </tbody>
</table>

