<h2>Please select a member to check their info</h2>

<ul class="members">
    <li *ngFor="let member of members"
    [class.selected]="member === selectedMember"
    (click)="onSelect(member)">

    <span class="badge">{{member.id}}</span> {{member.name}}
    <span class="badge"></span> 
    <span class="badge"></span> 
    <span class="badge"></span> 
    <span class="badge"></span> 
    <span class="badge"></span> 
    <span class="badge"></span> 
    <span class="badge"></span> 
    <span class="badge"></span> 
    <span class="badge"></span> 
    <span class="badge"></span> 

    

  </li>
</ul>
<app-member-detail [member]="selectedMember"></app-member-detail>
